.header {
  $padding: ($header-height - $logo-height) / 2;

  padding-top: $padding;
  padding-bottom: $padding;
  background-color: theme-color('primary');
  border-bottom: 2px solid theme-color('secondary');

  &__logo {
    height: $logo-height;
  }

  &__nav-item {
    color: white !important;
    margin: 1rem;
    padding-right: 0 !important;
    padding-left: 0 !important;

    &--selected {
      color: theme-color('secondary') !important;
      text-decoration: underline;
    }

    &--button {
      padding: 0.5rem 1rem !important;

      &:hover {
        background-color: theme-color('primary');
        border-color: theme-color('secondary');
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: theme-color('secondary') !important;
      text-decoration: underline;
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    &__logo {
      height: $logo-height - 10px;
    }

    &__nav-item {
      margin: 1rem 0;
      padding: 0;

      &--button {
        width: fit-content;
      }
    }
  }
}
