@font-face {
  font-family: 'BCSans';
  font-style:  normal;
  src: url('../assets/fonts/BC-Sans-Font-woff/BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style:  normal;
  font-weight: bold;
  src: url('../assets/fonts/BC-Sans-Font-woff/BCSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  src: url('../assets/fonts/BC-Sans-Font-woff/BCSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-weight: bold;
  font-style: italic;
  src: url('../assets/fonts/BC-Sans-Font-woff/BCSans-BoldItalic.woff') format('woff');
}
