$background: whitesmoke;

// DevHub style
$primary: #003366;
$secondary: #FCBA19;
$body-color: #494949;
$link-color: #1A5A96;

// Layout
$header-height: 65px;
$logo-height: 41px;
$font-family-sans-serif: "BCSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;